body {background:#f0b90b;color:#fff;font-size:18px;font-family: 'Nunito', sans-serif;}
h1 {font-size:50px;margin-bottom:20px;line-height:54px;letter-spacing:-1px;font-family: 'Nunito', sans-serif;font-weight:550;color: #431216;}
	p {line-height:32px;margin-bottom:20px;font-family: 'Nunito';font-weight: 500;}

.menugr {background:none;padding:0px;border:0px !important;border-radius:0px !important;}
.ustalan {text-shadow:1px 1px 1px RGBA(255,255,255,0.7);background:#0F0F1E;min-height:800px;max-height:800px;
background: #fff url('../img/arkaplan.jpg') center bottom repeat-x; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.chart {width:45% !important;}
.pancake {width:45% !important;}
.pancake img {width:26px;height:26px;margin-top:-5px;margin-right:10px;}
.btn-hover.color-13 img {height:30px;}
.ustalan h1 span {color:#EF1176;}
.about b {color:#cdcdd4;text-shadow:1px 1px 1px rgba(255,255,255,0.3);}
#tooltip {font-size:20px !important;cursor:pointer;position:absolute;top:20px;right:20px;}
.ustalan h1{font-size:46px !important;}

#timer div {
  display: inline-block;
  line-height: 1;

  font-size: 40px;

}

#timer span {
  display: block;
  font-size: 20px;
  color: #666;
}

#days {
  font-size: 130px;
  color: #db4844;
}
#hours {
  font-size: 130px;
  color: #f07c22;
}
#minutes {
  font-size: 130px;
  color: #f6da74;
}
#seconds {
  font-size: 50px;
  color: #abcd58;
}
footer {
	
background: #431216;  
background: -webkit-linear-gradient(to right, #431216, #522e30); 
background: linear-gradient(to right, #431216, #522e30);


color:#fff;padding-top:50px;padding-bottom:50px;text-align:center;
}
.partner .col-md-3 {margin-bottom:30px;}

#accordion .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 30px 15px;
	background:none !important;
}
#accordion .panel-heading {
    border-radius: 30px;
    padding: 0;
}
.panel-default>.panel-heading {background:none !important;}
#accordion .panel-title a {
    background: #5d3a3c none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px 12px 50px;
    position: relative;
    transition: all 0.3s ease 0s;
}
a:focus {outline: 0px !important;}
#accordion .panel-title a.collapsed {
    background: #431216 none repeat scroll 0 0;
    border:1px solid #431216 !important;
    color: #fff;
}
#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
    background: #5d3a3c none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
    color: #fff;
   font-family: "Font Awesome 5 Free";
   content: "\f107";
    font-size: 25px;
    height: 55px;
    left: -20px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: -5px;
    transition: all 0.3s ease 0s;
    width: 55px;
}
#accordion .panel-title a.collapsed::after {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: none;
    color: #333;
    content: "\f105";
}
#accordion .panel-body {
    background: none !important;
    border-top: medium none;
    padding: 20px 25px 10px 9px;
    position: relative;
}
#accordion .panel-body p {
    border-left: 1px dashed #8c8c8c;
    padding-left: 25px;
    color: #424242;
    font-weight: 500;
}

.button {
 
  height: 45px;

  
  text-transform: uppercase;
	padding-left:30px;padding-right:30px;
  font-weight: 500;
  color: #000;

  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	color:#fff !important;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-13 {width:100%;
    background-image: linear-gradient(to right, #000, #000, #000, #000);padding-top:12px !important;
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #76373c, #431216, #76373c, #431216);
    box-shadow: 0 4px 15px 0 rgb(67 18 22 / 61%);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #65373b, #431216, #65373b, #431216);
    box-shadow: 0 4px 15px 0 rgb(67 18 22);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.mt30 {margin-top:30px !important;}
.mb20 {margin-bottom:20px !important;}
.feedis {background-color: #431216;
background-image: linear-gradient(to right, #44171b 0%, #431216 100%);
padding:20px;border-radius:50px;box-shadow:0px 0px 10px 2px rgba(0,0,0,0.8) !important;}
.fee h3 {font-weight:600;color:#431216;margin-bottom:30px;font-size:26px;}
.fee span {padding:10px 8PX;margin-right:5px;font-size:14px;background:#fff;color:#111;width:30px;height:30px;border-radius:50px;font-weight:600;}
.team {
  /* background: url('../img/teambackground.jpg') center bottom repeat-x; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
background-size: cover;padding-bottom:50px;}
.team .col-md-2 {margin-bottom:30px;text-shadow:1px 1px rgba(0,0,0,0.6) !important;}
.team h3 {font-weight:900;color:#431216;margin-bottom:30px;font-size:40px;}
#market h3 {font-weight:900;color:#431216;margin-bottom:30px;font-size:40px;}
.team img {width:100px;height:100px;border-radius:50%;padding:5px;border:2px dashed #ffffff; margin-bottom:10px;}
.team h5 {color:#431216;font-weight:900;margin-bottom:10px;font-size:18px;margin-top:5px;}
.team span {color:#431216;float:left;width:100% !important;font-size:16px;margin-bottom:10px;}
.dagilimlar p {font-size:13px !important;margin:0px;color:#666;}
.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8, .t9 {border:2px solid #fafafa;border-radius:20px;margin-bottom:20px;color: #ffffff;background-color: #431216;}
.dagilimlar h3 {font-weight:900;margin-top:10px;}

.containera {
  perspective: 2000px;
  width: 300px;
  height: 400px;  
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.tooltip {
	
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  /* ... */
}
.tooltip-inner {
  max-width: 400px;
  padding: 3px 8px;
  color: #111;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
}
.chart-container{
    padding:25px;
}

.shadow {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
}



:root {
  --color-first: #65587f;
  --color-second: #f18867;
  --color-third: #e85f99;
  --color-forth: #50bda1;
  --block-width: 300px;
  --block-height: 270px;
  --border-width: .625rem;
  --border-radius-outer: 8px;
  --border-radius-inner: calc(var(--border-radius-outer) / 2);
  --font-plain: "IBM Plex Sans", sans-serif;
  --font-special: "Fredoka One", sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}





.rainbow {
  width: 100%;
  height: 100%;
  -webkit-animation: o-rotate-360 linear 8s infinite;
          animation: o-rotate-360 linear 8s infinite;
}
.rainbow span {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transform: translate(-50%, -50%);
}
.rainbow span:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
}
.rainbow span:first-child {
  background: var(--color-first);
}
.rainbow span:first-child:after {
  background: var(--color-second);
}
.rainbow span:last-child {
  background: var(--color-third);
}
.rainbow span:last-child:after {
  background: var(--color-forth);
}

.c-subscribe-box {
  width: var(--block-width);
  height: var(--block-height);
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  border-radius: var(--border-radius-outer);
}
.c-subscribe-box__wrapper {
  width: calc(100% - var(--border-width));
  height: calc(100% - var(--border-width));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 1.2rem 1rem 1.8rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-inner);
}
.c-subscribe-box__title {
  font-size: 1.6rem;
}
.c-subscribe-box__desc {
  font-size: 0.935rem;
  margin: 0.7rem auto 1.8rem;
  max-width: 240px;
}
.c-subscribe-box__form {
  margin-top: auto;
}

.c-form--accent input:hover, .c-form--accent input:active, .c-form--accent input:focus {
  border-color: var(--color-third);
  box-shadow: 0 0 0 3px rgba(232, 94, 152, 0.25);
}
.c-form--accent [type=submit] {
  background: var(--color-third);
  border-color: var(--color-third);
  color: #fff;
}

@-webkit-keyframes o-rotate-360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes o-rotate-360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.kutu h1 {margin:0px !important;color:#FFF;text-shadow:2px 2px 2px RGBA(0,0,0,0.1);
background-image: linear-gradient(-225deg, #431216 0%, #684446 52%, #431216 100%);
padding-top:20px;border-radius:50px;
height:90px;width:90px !important;margin:0px auto 0px auto !important;
}
.lacivert {background:#fff;box-shadow:0px 0px 20px rgba(0,0,0,0.9);}
.grborder {text-shadow:1px 1px rgba(255,255,255,0.3);box-shadow: rgb(0,0,0) 0px 20px 30px -10px !important;}


         .btn-disable {border:none !important;background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%)}
         .btn-disable {
            margin: 0px;
            padding: 10px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
			font-size:16px !important;
			text-shadow:none !important;
          }

          .btn-disable:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
		.sosyal {margin-top:30px;} 
	footer a {color:#fff;width:50px;border:2px solid rgba(255,255,255,0.3);height:50px;float:left;padding-top:7px;text-align:center;font-size:24px;border-radius:50px;}	 
	footer a:hover {color:#fff !important;border-color:#fff;}
.project p {font-size:18px !important;line-height:24px !important;text-align:center;}
.project h2 {margin-top:15px;font-size:24px !important;font-weight:900;color:#050539;}
.game {max-width:85%;position:absolute;z-index:999;left:0 !important;right:0 !important;
margin-left:auto !important;margin-right:auto !important;TOP:-30%;}
.tshirt {max-width:90%;position:absolute;z-index:999;left:0 !important;right:0 !important;
margin-left:auto !important;margin-right:auto !important;TOP:-35%;}
.about {background:#431216;box-shadow: rgb(0 0 0) 0px 12px 23px -10px !important;
border-radius:30px;box-shadow:0px 0px 50px 2px rgba(0,0,0,0.8);
padding:0px;overflow:hidden;
}
.grl {height:100vh !important;}
.grl img {height:100%;}
.animal {margin-top:150px !important;}
.about {  padding:30px;
	background-repeat: no-repeat !important;
	background-position:right top;text-shadow:1px 1px rgba(0,0,0,0.3);
}
.about .grlogo {margin-left:-100px;}
.navbar-nav li a {font-weight:600;margin-left:20px;color:#050539 !important;}
.navbar-nav li a:hover {color:#EF0D74 !important;}
.navbar-nav {margin-top:30px;}
.project {min-height:500px;

/* background: url('../img/back1.jpg') center TOP no-repeat; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

padding-top:100px;padding-bottom:50px;
}
.tab-pane {COLOR:#535362;padding:30px 200px 30px 30px;
background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
box-shadow: rgb(0,0,0) 0px 15px 25px -10px !important;
border-radius:30px;}
.tab-pane h1 {margin:0px 0PX 20px 0px;padding:0px;color:#2A333D;font-weight:900;font-size:36px;}
.tab-pane ul li {margin-bottom:15px;COLOR:#9797A6;text-shadow:1px 1px #fff;font-weight: 600;}
.tab-pane UL li i {
	background-image: linear-gradient(to top, #fff 0%, #eef1f5 100%);

margin-right:10px !important;text-shadow:none !important;width:24px;height:24px;border-radius:50px;text-align:center;padding-top:5px;Font-size:14px;}
.tab-pane li.aktif >i {
	
background-image: linear-gradient(180deg, #431216 0%, #563033 100%);

color:#fff;}
.tab-pane li.aktif {color:#431216;}
.tab-pane img {position:absolute;width:250px;right:-50px;BOTTOM:0PX;}
.market h1 {font-weight:200;margin-top:150px;}
.mt100 {margin-top:100px !important;}
.mt50 {margin-top:50px !important;}
.mt150 {margin-top:150px !important;}
.mt-100 {margin-top:-100px !important;top:-100px;}
.swiper-slide {background:#fff;}
.kutu {
	/* background-image: linear-gradient(to bottom, #646eef 0%, #deba38 100%); */
  background-color: #d5dddd;
	box-shadow: rgb(0,0,0) 0px 20px 30px -10px !important;padding-top:0px !important;width:100%;
min-height:300px !important;
margin:30px auto 30px auto !important;border-radius:20px;box-shadow:0px 0px 50px 2px rgba(0,0,0,0.8);}
/* .swiper-slide img {z-index:99;position:absolute !important;top:0px;left:0;right:0;margin:0 auto 0 auto;max-height:300px;}*/
.swiper-slide img {width:100%;border-radius:20px;min-height:300px;max-height:500px;}
.nftcard {padding-top:30px;padding-bottom:30px;}
.slick-slide {
    margin: 0px 20px;
	position:relative;
	
}
.mt10 {margin-top:10px;}
.slick-slide h3 {white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;font-size:18px;font-weight:900;margin:0px 0PX 10px 0px !important;}
.slick-slide .bilgi span {width:100%;float:left;font-size:14px !important;}
.slick-slide .btn {padding-left:10px !important;BOX-SHADOW:0px 0px 5px 2px RGBA(0,0,0,0.6);padding-right:10px !important;border:none;background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);}
.slick-slide .bilgi {
	text-shadow:1px 1px rgba(0,0,0,0.8);
	text-align:center;
background: -moz-linear-gradient(top,  rgba(5,5,57,0) 0%, rgba(5,5,57,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(5,5,57,0) 0%,rgba(5,5,57,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(5,5,57,0) 0%,rgba(5,5,57,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00050539', endColorstr='#050539',GradientType=0 ); /* IE6-9 */

	
	bottom:20px;position:absolute;left:0px;right:0px;padding:10px;
	padding-bottom:20px !important;border-bottom-left-radius:19px;border-bottom-right-radius:19px;}
.slick-slide img.bnb {
	width:18px;height:18px;FLOAT:LEFT !important;
	background:none;box-shadow:none;margin:0px 8px 0px 0px;
}
.slick-slide .btn {width:38px;height:38px;border-radius:40px;font-size:16px;font-weight:normal !important;padding:0px;padding-top:6px;text-align:center;}
.slick-slide span b {float:left;font-weight:normal !important;}
.slick-slide i {margin-right:0px !important;text-shadow:none;}
.slick-slide img {
  width: 100%;
	/* border-radius:10px;
	box-shadow:0px 0px 10px 5px rgba(0,0,0,0.7);
	margin-top:20px;
	margin-bottom:20px; */
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100001;
  overflow: hidden;
}
.no-js #loader-wrapper {
  display: none;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00b1f5;
  -webkit-animation: spin 1.7s linear infinite;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00b1f5;
  -webkit-animation: spin-reverse 0.6s linear infinite;
  animation: spin-reverse 0.6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00b1f5;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #050539;
  z-index: 10;
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}
.kutu h2 {font-size:18px;color:#2A333D;text-align:center;font-weight:900;}
.kutu p {color:#666;font-size:16px;line-height:20px;}
.navbar-header {height:110px;}
.btn {padding-top:15px;text-shadow:none !important;}
.btn i {margin-right:10px;}
.anaslider {padding-top:150px !important;}
.anaslider h3 b {font-weight:900;}
.anaslider h3 {font-weight:700 !important;color:#2A333D !important;margin:0px;}
.sale {padding:15px;margin-bottom:50px;color:#2A333D;background:#fff;box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);border-radius:10px;}
.ustalan h1 {color:#2A333D;margin:0px !important;font-weight:900;font-size:50px;line-height:56px;letter-spacing:0px;}
.kartlar {width:100%;}
.anaslider p {color:#050539;}
.mh300 {min-height:300px !important;padding-top:70px !important;padding-bottom:20px;border-radius:30px !important;}
.ustalan {
  animation: marquee 100s infinite linear;
  
}
.close {background:red;position:absolute;top:0px;right:0px;font-size:20px;z-index:999999;}
.modal-lg .modal-body {padding:0px;}
.inline-photo {
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;

  will-change: transform, opacity;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    background: white;
    float: right;
    width: 30px;
    height: 30px;
    opacity: 1 !important;
}
.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}




.is-visible .main-photo {
  transform: none;
}




.repeat {animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;

-o-animation-iteration-count: infinite;}
.grborder {
  --borderWidth:6px;
  background: #FFF;
  position: relative;
  border-radius: 30px;;
}
.grborder {
  --borderWidth:6px;
background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.grborder p {color:#050539;}
.grborder:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 30px;
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
.grborder:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 30px;
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 500% 500%;
}
.sip {width:100%;background:Red;bottom:0px;position:Absolute;LEFT:0PX;right:0px;height:80px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;background:#E0DEDE;padding:15px;border-top:1px solid #CCC;}

@-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.red {background:Red;}
@keyframes marquee {
  0% {
    background-position: 0;
  }

  100% {
    background-position:-5760px;
  }
}

.dagilim label {margin-right:15px;text-align:center;padding:15px 10px 10px 10px;width:50px;height:50px;border-radius:50px;font-size:14px;}
.dagilim label b {font-size:18px;}
.dagilim li {margin-bottom:15px;margin-top:15px;}
.part1 {background:#f72585;}
.part2 {background:#7209b7;}
.part3 {background:#4361ee;}
.part4 {background:#4cc9f0;}
.part5 {background:#ff9e00;}

.p0 {padding:0px !important;}

.modal-backdrop.in {opacity:0.9 !important;background:#050539;}


.donut-chart {
  position: relative;
	width: 400px;
  height: 400px;
	margin: 0 auto 2rem;
	border-radius: 100%
 }
 .beyaz {background:#fff !important;}
p.center {
  background: #050539;
  position: absolute;
  text-align: center;
font-size: 28px;
  top:0;left:0;bottom:0;right:0;
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
	
	
.portion-block {
    border-radius: 50%;
    clip: rect(0px, 400px, 400px, 200px);
    height: 100%;
    position: absolute;
    width: 100%;
  }
.circle {
    border-radius: 50%;
    clip: rect(0px, 200px, 400px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
  }
	
	.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;margin:0px !important;
}

.nav-tabs {
    text-align:center;
}
#part1 {transform: rotate(0deg);}
#part1 .circle {background-color: #f72585;animation: first 0.5s 1 forwards;}
	
#part2 {transform: rotate(170deg);}
#part2 .circle {background-color: #7209b7;animation: second 0.5s 1 forwards 0.5s;}

#part3 {transform: rotate(280deg);}
#part3 .circle {background-color: #4361ee;animation: third 0.5s 1 forwards 1s;}

#part4 {transform: rotate(320deg);}
#part4 .circle {background-color: #4cc9f0;animation: four 0.5s 1 forwards 1.5s;}

#part5 {transform: rotate(340deg);}
#part5 .circle {background-color: #ff9e00;animation: five 0.5s 1 forwards 2s;}

.run1 {
  animation: first 0.5s 1 forwards;
}
.run2 {
  animation: second 0.5s 1 forwards 0.5s;
}
.run3 {
  animation: third 0.5s 1 forwards 1s;
}
.run4 {
  animation: four 0.5s 1 forwards 1.5s;
}
.run5 {
  animation: five 0.5s 1 forwards 2s;
}

@keyframes first {
    from {transform: rotate(0deg);}
    to {transform: rotate(170deg);}
}
	
@keyframes second {
    from {transform: rotate(0deg);}
    to {transform: rotate(110deg);}
}
	
@keyframes third {
    from {transform: rotate(0deg);}
    to {transform: rotate(40deg);}
}
@keyframes four {
    from {transform: rotate(0deg);}
    to {transform: rotate(20deg);}
}
@keyframes five {
    from {transform: rotate(0deg);}
    to {transform: rotate(20deg);}
}

.nav-tabs {border-bottom:0px !important;}
.nav-tabs>li>a {border-radius:15px;color:#2f2f2f;font-weight:600;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {background:#431216 !important;border-COLOR:#ffffff !important;color:#fff;font-weight:600;}
.nav-tabs>li a:hover {background:none;}

@media (max-width: 768px){
	.feedis {border-radius:20px;}
	.feedis .mmb30 {margin-bottom:30px;}
	.donut-chart {
  position: relative;
	width: 300px;
  height: 300px;
	margin: 0 auto 2rem;
	border-radius: 100%
 }
	.tab-pane {padding:25px !important;}
	.tab-pane img {display:none;}
	.navbar-nav li a {margin-left:0px !important;}
	.kutu h1 {font-size:50px !important;margin-top:0px !important;}
	.mh300 {padding-top:70px !important;margin-bottom:240px !important;}
	.mmb0 {margin-bottom:0px !important;}
	.mmt0 {margin-TOP:0px !important;}
	.mt50 {margin-top:30px !important;}
	.team h3 {font-size:22px !important;}
	body {font-size:18px !important;}
	H1 {font-size:32px;margin:0px 0px 20px 0px !important;line-height:45px;}
	.ustalan {height:auto !important;min-height:auto !important;max-height:auto !important;padding-bottom:20px;padding-top:0px !important;}
	.slider {padding-TOP:120px;padding-bottom:100px;}
	.logo {height:55px !important;}
	
	.about {padding:30px !important;}
	.navbar-collapse {background:#fff;box-shadow: 0 4px 4px -4px RGBA(0,0,0,0.7);}

	.donut-chart {position: relative;width: 200px;height: 200px;margin: 0 auto 0 auto;border-radius: 100%;}
	p.center {position: absolute;text-align: center;font-size: 28px;top:0;left:0;bottom:0;right:0;width: 150px;height: 150px;margin: auto;border-radius: 50%;line-height: 35px;padding: 15% 0 0;}
	.portion-block {border-radius: 50%;clip: rect(0px, 200px, 200px, 100PX);height: 100%;position: absolute;width: 100%;}
	.circle {border-radius: 50%;clip: rect(0px, 100PX, 200px, 0px);height: 100%;position: absolute;width: 100%;font-family: monospace;font-size: 1.5rem;}
#part1 {transform: rotate(0deg);}
#part1 .circle {background-color: #f72585;animation: first 0.5s 1 forwards;}
	
#part2 {transform: rotate(170deg);}
#part2 .circle {background-color: #7209b7;animation: second 0.5s 1 forwards 0.5s;}

#part3 {transform: rotate(280deg);}
#part3 .circle {background-color: #4361ee;animation: third 0.5s 1 forwards 1s;}

#part4 {transform: rotate(320deg);}
#part4 .circle {background-color: #4cc9f0;animation: four 0.5s 1 forwards 1.5s;}

#part5 {transform: rotate(340deg);}
#part5 .circle {background-color: #ff9e00;animation: five 0.5s 1 forwards 2s;}
	.dagilim li {margin-bottom:15px;}
	.ustalan h1 {font-size:32px;line-height:40px;}
	.navbar-nav {margin-top:0px;}
	.anaslider {padding-top:150px !important;}
	.mt100 {margin-top:60px !important;}
	.navbar-header {height:100px;}
	.navbar-toggle {text-align:center;font-size:24px;
	position: relative !important;
    float: right;
    padding: 9px 10px;
  
  
color:#2A333D;
    background-color: transparent;
    background-image: none;
    border: none !important;
    border-radius: 4px;font-weight:200 !important;margin-top:25px;}

	.ustalan .btn-hover {padding-left:25px !important;padding-right:25px !important;width:auto !important;}
	/*
	.anaslider p {color:#CCC !important;text-shadow:none !important;}
	.anaslider h3 {font-size:20px !important;}*/
}

@media (max-width: 768px){
  .logo {height:0px !important;}
}

/* @media (max-width: 1024px){
  .logo {height:40px !important;}
} */

#aboutus h1 {
  color: #ffffff;
}

#marketplace {
  margin-top: 100px;
}

#marketplace p {
  color: #431216;
}

.kutu a {
  margin-top: 30px;
}